.post{
    width: 400px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
  }
  .post:hover .post-s{
    width: 400px;
  }
  .post img {
    width: 100%;
    height: 250px;
  }
  .post-s{
    width: 0px;
    height: 250px;
    background: rgba(10, 184, 223, 0.71);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;
  }
  .post-s h2{
    color: white;
    font-size: 40px;
    border: 6px solid white;
    padding: 10px 30px;
  }
  header{

    width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
    align-items: center;
  background-color:rgb(12, 12, 196);
  margin-bottom:5px;
  }
  header a{
    text-decoration: none;
  }
    h1{
font-family: sans-serif;
font-weight:500;
	text-align: center;
	color:rgb(9, 9, 9);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
h2{
  font-family: sans-serif;
  font-weight:100;
    text-align: center;
    color:rgb(7, 7, 7);
    font-size: 15px;
 
    
  }
.bod{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 20;
  margin: 20;
}
.linki{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20;
  margin: 20;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }